Package: com.ajaidan.mavalry
Name: Mavalry
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 1.2
Architecture: iphoneos-arm
Description: iOS customization, done right.
Maintainer: ajaidan0
Author: ajaidan0
Section: Tweaks
