Package: com.ajaidan.mavalry
Name: Mavalry
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 1.1
Architecture: iphoneos-arm
Description: iOS customization, done right.
Maintainer: Jaidan A
Author: Jaidan A, samoht
Section: Tweaks
