Package: com.ajaidan.mavalry
Name: Mavalry
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: SpringBoard customization, done right.
Maintainer: Jaidan A
Author: Jaidan A, samoht
Section: Tweaks
Version: 1.0-3+debug
Installed-Size: 828
