<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- general cell -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>

		<!-- enable/disable hiding older notifications text -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>cellClass</key>
  			<string>BRUHSwitchCell</string>
  			<key>switchColor</key>
  			<string>#9836C5</string>
 			 <key>switchColorAlpha</key>
  			<real>1.0</real>
			<key>defaults</key>
			<string>com.ajaidan.mavalryprefs</string>
			<key>key</key>
			<string>wantsOlderNotifs</string>
			<key>label</key>
			<string>Hide Older Notifications Text</string>
			<key>PostNotification</key>
			<string>com.ajaidan.mavalryprefs.settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>cellClass</key>
  			<string>BRUHSwitchCell</string>
  			<key>switchColor</key>
  			<string>#9836C5</string>
 			 <key>switchColorAlpha</key>
  			<real>1.0</real>
			<key>defaults</key>
			<string>com.ajaidan.mavalryprefs</string>
			<key>key</key>
			<string>moonGone</string>
			<key>label</key>
			<string>Hide DND Notification</string>
			<key>PostNotification</key>
			<string>com.ajaidan.mavalryprefs.settingschanged</string>
		</dict>

	</array>
	<key>title</key>
	<string>Mavalry</string>
</dict>
</plist>
