<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>      

        <!-- Enable/Disable  volume haptics button -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ajaidan.mavalrypref</string>
			<key>key</key>
			<string>wantsHapticVol</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.ajaidan.mavalryprefs.settingschanged</string>
		</dict>

		<!-- taptic strength label -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Taptic Strength:</string>
		</dict>

		<!-- haptics cell -->
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.ajaidan.mavalrypref</string>
			<key>key</key>
			<string>hapticStrength</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Light</string>
				<string>Medium</string>
				<string>Strong</string>
				<string>Soft</string>
				<string>Rigid</string>
			</array>
			<key>alignment</key>
			<string>5</string>
			<key>PostNotification</key>	
			<string>com.ajaidan.mavalryprefs.settingschanged</string>
        </dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Volume steps:</string>
		</dict>

        <!-- volume steps -->
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>10</integer>
			<key>defaults</key>
			<string>com.ajaidan.mavalryprefs</string>
			<key>key</key>
			<string>volStep</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>100</integer> <!-- we need to add a footer that says that if user wants this disabled, just select the value 0.0 -->
			<key>PostNotification</key>
			<string>com.ajaidan.mavalryprefs.settingschanged</string>
		</dict>

    </array>
	<key>title</key>
	<string>Volume</string>
</dict>
</plist>
